@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
}

.titles {
    font-family: 'Megrim', cursive;
}